{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{post}}"?</p>

            <form action=" " method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'dastugo_blog_app:post-list' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm" />
            </form>

        </div>
    </div>
</div>
{% endblock %}