{% extends 'base_dastugo.html' %}
{% block title %} - Contact{% endblock %}
{% load static %}

{% block content %}

<style>
    
    .content-logout {
      max-width: 500px;
      height: 50vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    </style>

<div class="content-logout">
    <h2>Coming soon...</h2>
    <small class="text-muted">
        <p>This page is under construction</p>
    </small>
</div>
{% endblock %}