{% extends 'base_dastugo.html' %} {% block title %}login{% endblock %}
{% block content %}
<style>
    
    .content-logout {
      max-width: 500px;
      height: 50vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    </style>

<div class="content-logout">
    <h2>You have been logged out</h2>
    <small class="text-muted">
        <a href="{% url 'login' %}">Login Again</a>
    </small>
</div>

{% endblock %}